PORT=
NODE_ENV=
MONGODB_URI=
JWT_SECRET=
OPENAI_API_KEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
GOOGLE_CLIENT_ID=
LATE_API_KEY=
LATE_BASE_URL=
APP_BASE_URL=
CONNECT_CALLBACK_PATH=
EMAIL_USER=
EMAIL_APP_PASS=
